<hr />

<div class="float-right space-x-2 py-4">
  <button
    *ngIf="!disabledImport"
    mat-raised-button
    color="primary"
    (click)="import()"
  >
    Import XML
  </button>
  <button
    *ngIf="!disabledImport"
    mat-raised-button
    color="primary"
    (click)="upload()"
  >
    Upload XML
  </button>
  <button
    *ngIf="!disabledPdfExport"
    mat-raised-button
    color="primary"
    (click)="exportPdf()"
  >
    Export as PDF
  </button>
  <button
    *ngIf="!disabledXmlExport"
    mat-raised-button
    color="primary"
    (click)="exportXml()"
  >
    Export as XML
  </button>
</div>
