<h1 *ngIf="!select || !select.options?.length" class="text-xl mb-2">
  {{ title }}
</h1>

<div *ngIf="select && select.options?.length" class="lg:columns-2 lg:h-24 h-32">
  <div class="lg:h-full flex items-center">
    <h1 class="text-xl mb-2">{{ title }}</h1>
  </div>

  <div class="lg:float-right">
    <mat-form-field appearance="standard" class="w-96 text-sm">
      <input
        #input
        matInput
        [formControl]="selectForm"
        [matAutocomplete]="auto"
        (keyup)="onAutocompleteKeyUp(input.value)"
        placeholder="Select one from the list"
      />
      <mat-error *ngIf="selectForm.errors">
        Please select a value from the list.
      </mat-error>
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        [displayWith]="select.display"
        (optionSelected)="makeSelection()"
      >
        <mat-option
          *ngFor="let option of select.filteredOptions"
          class="text-sm"
          [value]="option"
        >
          {{ select.display(option) }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>

<div
  *ngIf="
    !select ||
      (select && !select.options?.length) ||
      (select && selectForm.valid);
    else notSelected
  "
>
  <div class="md:columns-2 md:h-20 h-36">
    <div class="md:h-full flex items-center space-x-2">
      <mat-form-field appearance="standard">
        <input
          [(ngModel)]="searchTerm"
          matInput
          placeholder="Enter search term"
        />
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="makeSearch()">
        Search
      </button>
    </div>
    <div
      *ngIf="!readOnly"
      class="md:h-full md:float-right flex items-center space-x-2"
    >
      <button mat-flat-button color="primary" (click)="create()">
        Create new
      </button>
      <button mat-flat-button color="warn" (click)="delete()">
        Delete selected
      </button>
    </div>
  </div>

  <div class="mat-elevation-z2">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="makeRequest()"
      class="w-full"
    >
      <!-- Checkbox Column -->
      <ng-container *ngIf="!readOnly" matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            *ngIf="selection.hasValue()"
            (change)="$event ? clearSelection() : null"
            [checked]="selection.hasValue()"
            color="primary"
            class="mx-3"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            color="primary"
            class="mx-3"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Dynamic Columns -->
      <ng-container *ngFor="let col of columnProps" [matColumnDef]="col.key">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="isComplexType(col)"
          [ngClass]="{ 'font-bold': !isComplexType(col) }"
        >
          {{ col.name }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getCellContent(col, element) }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container *ngIf="!readOnly" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef="">Actions</th>
        <td mat-cell *matCellDef="let row">
          <mat-icon (click)="edit(row)">edit</mat-icon>
        </td>
      </ng-container>

      <!-- Rows shown there is data -->
      <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
      <tr mat-row *matRowDef="let row; columns: columnKeys"></tr>

      <!-- Row shown when there is not data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="columnKeys.length">No data</td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 20, 50]"
      [pageSize]="defaultPageSize"
      (page)="makeRequest()"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>

<ng-template #notSelected class="my-2">
  <p class="my-5">Data will be displayed when value from list is selected.</p>
</ng-template>
