server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      default-zone:
        http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: '*'