<img src="assets/home.jpg" class="w-screen" alt="Home photo" />

<app-container>
  <h1 class="text-center text-2xl sm:text-3xl">
    Welcome to University of Toronto
  </h1>
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nobis odit
    alias fugiat accusantium. Rerum quis adipisci vitae error odio, maiores
    officia! Error, aspernatur quo maxime consequuntur laboriosam consequatur
    dolorum cum perspiciatis doloremque ipsam laudantium voluptatum cumque vel
    placeat culpa tempora quisquam magnam, sint similique quod voluptates!
    Tempore ab quo nulla ipsum nesciunt, alias voluptatem accusantium eveniet
    ipsam voluptatum id quisquam! Culpa aspernatur, a vel tempore similique
    dolores voluptas adipisci rem quibusdam quis iusto, eos voluptates natus sit
    molestias quia quo. Officia, mollitia libero commodi in maiores ipsam.
    Impedit consequuntur, at provident amet, soluta atque reiciendis veniam non
    placeat nisi explicabo a eligendi fuga animi et quisquam. Autem quos
    dignissimos, accusamus earum nisi fuga voluptas delectus? Libero rem
    aspernatur commodi iusto, impedit officiis obcaecati laudantium facere
    laboriosam cum atque nam itaque cupiditate tenetur possimus omnis est rerum
    tempore, consequatur molestiae odit quo nostrum? Doloremque, consectetur
    omnis deleniti praesentium doloribus animi dolorum autem ex quam quisquam
    reprehenderit totam itaque ratione. Ipsum repellat quaerat perferendis
    ducimus autem expedita provident nisi nesciunt illo voluptatibus? Veritatis
    voluptatibus laboriosam quasi possimus ab sint alias, suscipit sunt, a,
    incidunt itaque consequuntur eos atque voluptas cumque beatae ex blanditiis?
    Natus ipsum sunt dicta ab facilis possimus hic?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi enim
    provident deserunt laboriosam eius repudiandae totam itaque repellat unde
    beatae quasi, maxime esse libero temporibus sapiente eum ducimus quae
    commodi quidem alias quos. Vero corporis esse enim itaque veniam officia
    dolorum sit nihil ex! Nesciunt, commodi fugiat exercitationem expedita
    maiores vel ea dolores tempore, iure et totam distinctio, modi magnam eaque
    assumenda debitis enim nostrum soluta fugit amet dignissimos? Iste
    inventore, id dolores nemo consequuntur debitis facere deleniti fugiat, a
    recusandae dolor. Tempore quasi distinctio delectus similique dignissimos
    sequi non inventore laborum, animi reiciendis vitae, dolorem, in obcaecati.
    Ipsam, non unde. Earum porro reprehenderit libero voluptates perspiciatis
    aperiam temporibus alias expedita molestiae. Voluptates ratione illum fugit
    tenetur vel! Dolor, porro enim nostrum nisi quaerat dolorum dignissimos hic
    minus. Voluptatibus quibusdam maxime recusandae accusantium! Neque
    repellendus pariatur ipsa facere cum expedita ducimus odit tempore accusamus
    assumenda dolore incidunt reprehenderit asperiores eveniet beatae modi rem,
    commodi in exercitationem enim praesentium ratione sunt! Veniam fugit culpa,
    nesciunt quasi voluptas aspernatur et numquam quia sapiente labore eaque
    adipisci repellat commodi debitis in quis tempore ut sequi maxime. Ut
    impedit, dignissimos nisi dolore aliquam incidunt aliquid corporis! Porro
    blanditiis vero, laborum qui ex quod placeat.
  </p>
</app-container>
