<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z8 h-28">
    <a routerLink="/" class="m-auto">
      <img src="assets/logo.png" alt="University of Toronto" />
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="m-auto">
      <a mat-button routerLink="/about" class="md:text-lg">About</a>
      <a mat-button routerLink="/faculties" class="md:text-lg">Faculties</a>
      <a mat-button routerLink="/classroom" class="md:text-lg text-red-700">
        Classroom
      </a>
      <a
        mat-button
        routerLink="/student-services"
        class="md:text-lg text-red-700"
      >
        Student services
      </a>
      <a
        mat-button
        routerLink="/teacher-services"
        class="md:text-lg text-red-700"
      >
        Teacher services
      </a>
      <a mat-button routerLink="/admin-panel" class="md:text-lg">Admin panel</a>
      <!-- <a mat-button class="text-lg">Login</a> -->
      <a mat-button class="md:text-lg text-red-700">Logout</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
