<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z8 h-28">
    <a routerLink="/" class="m-auto">
      <img src="assets/logo.png" alt="University of Toronto" />
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="m-auto">
      <a mat-button routerLink="/about" class="md:text-lg">About</a>
      <a mat-button routerLink="/faculties" class="md:text-lg">Faculties</a>
      <a
        *ngIf="authService.validateRoles(['ROLE_STUDENT'], 'any')"
        mat-button
        routerLink="/student-services"
        class="md:text-lg"
      >
        Student services
      </a>
      <a
        *ngIf="authService.validateRoles(['ROLE_TEACHER'], 'any')"
        mat-button
        routerLink="/teacher-services"
        class="md:text-lg"
      >
        Teacher services
      </a>
      <a
        *ngIf="authService.validateRoles(['ROLE_ADMIN'], 'any')"
        mat-button
        routerLink="/admin-panel"
        class="md:text-lg"
        >Admin panel</a
      >
      <a
        *ngIf="!authService.loggedIn()"
        routerLink="/auth/login"
        mat-button
        class="md:text-lg"
      >
        Login
      </a>
      <a
        *ngIf="authService.loggedIn()"
        (click)="authService.logout()"
        mat-button
        class="md:text-lg"
      >
        Logout
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
