<app-container>
  <h1 class="text-2xl sm:text-3xl text-center">About us</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur illum
    quaerat dolorum perspiciatis maxime maiores, voluptatibus ratione culpa
    adipisci ipsam rerum earum. Ab nostrum omnis totam natus architecto maxime
    fuga ratione nisi fugiat aspernatur voluptatum suscipit rerum obcaecati
    repellat recusandae similique praesentium quas unde laudantium, aliquam
    ipsum quam. Iusto, officia quos aliquid illum perspiciatis doloribus alias,
    ea, nam in incidunt fuga. Illo assumenda dolorem officiis animi totam
    tempore mollitia cum temporibus? Sequi, dolorum aliquid veniam repellendus
    officia, illum, eum vero recusandae maxime culpa pariatur quasi iure est
    delectus enim dolore nemo dicta. Nemo distinctio nam incidunt doloremque
    aut, ab dolores illo dignissimos ipsam iste fuga quas est cumque repudiandae
    molestias officiis pariatur suscipit non blanditiis odio repellendus? Iure
    soluta exercitationem explicabo quidem modi, sapiente aut tempora aperiam
    fugiat, ipsam qui optio dolorum ducimus nihil totam dolores, culpa est
    excepturi facere impedit. Corporis placeat doloribus, delectus voluptatem
    praesentium quam inventore, accusamus porro expedita suscipit, eum veritatis
    molestias sint iusto. Ab ullam cumque corporis quasi, veritatis sunt unde
    odit, assumenda consectetur dignissimos nemo error dicta necessitatibus, hic
    rem voluptate provident delectus. Cum aut atque est! Placeat optio velit
    dignissimos a nihil dicta, illum vitae possimus corporis non minus soluta
    rem nobis eum!
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id exercitationem
    quasi blanditiis numquam aliquid odio nulla optio, earum sunt non
    consequuntur eius illo, tempora at reprehenderit cumque natus. Voluptatibus
    enim maxime architecto nemo adipisci, id eius sunt soluta modi cum? Debitis
    ipsa voluptatibus obcaecati porro officia culpa, sed itaque enim recusandae
    provident rerum eum exercitationem eaque assumenda accusantium nostrum
    aliquid sequi eligendi? Provident commodi inventore asperiores modi sunt
    nobis quasi illum illo, libero consequatur. Placeat itaque doloribus
    consectetur commodi fugit at natus? Repellat neque quis labore quidem
    dolores assumenda vitae repellendus ea laudantium adipisci animi cumque
    commodi veniam porro saepe dolore sed officiis, ratione obcaecati voluptatem
    facilis fugiat excepturi error libero. Excepturi, saepe atque aperiam,
    dignissimos similique exercitationem laudantium expedita reprehenderit, iure
    nam voluptates non. Libero, ut doloremque. Soluta corrupti voluptatibus
    quasi aliquid itaque consequatur iure dicta enim sint possimus veniam,
    officiis nobis et nemo voluptas tempora esse assumenda obcaecati saepe
    numquam illum exercitationem animi placeat! Nam consectetur tempora sed
    eveniet est, officia labore. At tenetur maiores obcaecati neque fuga
    assumenda veritatis delectus rem quos mollitia quam animi eum eos nesciunt
    hic explicabo officia, voluptas deleniti ipsum cum quae rerum aspernatur
    ratione beatae. Qui vitae quod nam quisquam vero beatae!
  </p>
  <p><span class="font-bold">Rector</span>: Will Smith</p>
  <p><span class="font-bold">Email</span>: contact@utoronto.ca</p>
  <p>
    <span class="font-bold">Address</span>: 27 King's College Cir, Toronto,
    Canada
  </p>
</app-container>
